<%- include('partials/header.ejs') %>

<h1> Mars </h1> 
<p>Mars is one of the most explored bodies in our solar system, and it's the only planet where we've sent rovers to roam the alien 
landscape. NASA currently has three spacecraft in orbit, one rover and one lander on the surface. India and ESA also have spacecraft in 
orbit above Mars. These robotic explorers have found lots of evidence that Mars was much wetter and warmer, with a thicker atmosphere, 
billions of years ago. NASA plans to send the next-generation Perseverance rover to Mars this summer.</p> 
<img src="/img/mars.jpg" width="800" height="450"  alt="Mars Planet"/>

<%- include('partials/footer.ejs') %>
